<article class="listing">
  <div class="title">
    <h3>{{item}}</h3>
  </div>
  <div class="meta">
    {{!-- Description: {{description}} 
    Price: {{price}}
    User: {{user_id}} --}}
  </div>
</article>