<article class="container d-flex-column">

  <section class="container d-flex justify-content-center mt-5">
    <div class="align-items-center card">
      <div class="card-body"> 
      <h2>Create New Listing</h2>
      </div>
      <div class="d-flex form-outline form-white">
        <form id="new-listing-form" class="new-listing-form">
          <div class="title form-group"> 
            {{!-- Item Input --}}
            {{!-- <label for="listing-item">Want To Buy: </label> --}}
            <input class="form-control" type="text" id="listing-item" name="listing-item" placeholder="Want To Buy.." />
          </div>
          <div class="description form-group"> 
            {{!-- Description Input --}}
            {{!-- <label for="listing-description">Description: </label> --}}
            <textarea class="form-control" name="listing-description" id="listing-description" cols="30" rows="5" placeholder="Description.."></textarea>
          </div>
          <div class="price form-group"> 
            {{!-- Price Input --}}
            {{!-- <label for="listing-price">$:</label> --}}
            <input class="form-control" type="text" id="listing-price" name="listing-price" placeholder="$ Amount.."/>
          </div>
          <div class="category form-group"> 
            {{!-- Category Input --}}
            <label for="roomType"> Select a Category Type:</label>
            <select  id="categoryType" name="categoryType" class="select-dropdown form-control">
              <option value="empty" disabled selected>Choose..</option>
              <option value=1>Home Goods</option>
              <option value=2>Electronics</option>
              <option value=3>Automotive</option>
              <option value=4>Sports</option>
              <option value=5>Apparel</option>
              <option value=6>Other</option>
            </select>
          </div>
          {{!-- // Submits the Form --}}
        <button type="submit" id="create-listing" class="form-control btn btn-success btn-lg btn-block">Create</button>
        </form>
      </div>
      
    </div>
  </section>

  {{!-- // This section will show any Listings the User has already created --}}
  {{#if listings.length}}
  <section class="container mt-5">
    <div class="text-center">
      <h2>Your Listings</h2>
      <div class="col-md-12 d-flex flex-wrap ">
        {{#each listings as |listing|}}
        <div class="col p-2">
          {{> listing-info listing}}
          <a href="/dashboard/edit/{{listing.id}}" class="edit-link btn btn-outline-info btn-block">Edit listing</a>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  {{/if}}

</article>
{{!-- // Required for the form to create the listing --}}
<script src="/javascript/add-listing.js"></script>