<section>
  <h2>Create New listing</h2>

  <form class="new-listing-form">
    <div>
      <label for="listing-item">Item</label>
      <input type="text" id="listing-item" name="listing-item" />
    </div>
    <div>
      <label for="listing-description">Description</label>
      <textarea name="listing-description" id="listing-description" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label for="listing-price">Price</label>
      <input type="text" id="listing-price" name="listing-price" />
    </div>
    <div>
      {{!-- NEEDs Drop down menu for Category selection --}}
      <label for="category">Select a Category</label>
      <input type="text" id="category" name="category" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if listings.length}}
<section>
  <h2>Your listings</h2>
  <ol>
    {{#each listings as |listing|}}
    <li>
      {{> listing-info listing}}
      <a href="/dashboard/edit/{{listing.id}}" class="edit-link">Edit listing</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-listing.js"></script>