<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Listing
  </h2>
  <form class="edit-listing-form">
    <div>
      <label for="listing-description">Description: </label>
      <input name="listing-description" type="text" value="{{listing.description}}" />
    </div>
    <div>
      <label for="listing-price">Price: </label>
      <input name="listing-price" type="text" value="{{listing.price}}" />
    </div>
    <button type="submit" class="btn btn-outline-light bg-primary">Update</button>
    <button type="button" id="delete-listing-btn" class="btn btn-outline-light bg-danger">Delete</button>
  </form>
</article>


<script src="/javascript/edit-listing.js"></script>
<script src="/javascript/delete-listing.js"></script>
