<section class="container mb-5">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="text-center mt-5">
    Edit Listing
  </h2>
  <div class=" ">
    <form id="edit-listing-form" class="d-flex-column m-5">
      <div class="form-group mb-4">
        <label for="listing-description" class="mb-2">Description: </label>
        <input name="listing-description" class="form-control form-control-lg" type="text" value="{{listing.description}}" />
      </div>
      <div class="form-group mb-4">
        <label for="listing-price" class="mb-2">Price: </label>
        <input name="listing-price" class="form-control form-control-lg" type="text" value="{{listing.price}}" />
      </div>
      <button type="submit" class="btn btn-outline-primary m-1">Update</button>
      <button type="button" id="delete-listing-btn" class="btn btn-outline-danger m-1">Delete</button>
    </form>
  </div>
</section>


<script src="/javascript/edit-listing.js"></script>
<script src="/javascript/delete-listing.js"></script>
