<div>
  <a href="/category/1">Home Goods</a>
  <a href="/category/2">Electronics</a>
  <a href="/category/3">Automotive</a>
  <a href="/category/4">Sports</a>
  <a href="/category/5">Apparel</a>
  <a href="/category/6">Other</a>
</div>

<div class="row ml-2 mr-2">
<div class ="col-md-12 d-flex flex-wrap">
  {{#each listings as |listing|}}
 <div class="col p-2" >
    {{> listing-info listing }}
  </div>
  {{/each}}
</div>
</div>