<div class="row justify-content-center align-items-center pt-5">
  <div class="card pt-4" style="width: 20rem;">
    <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
    <p class="text-50 mb-5 text-center">Please enter your login and password</p>
    <div class="form-outline form-white mb-4">
      <form id="login-form" action="">
      <input
        type="email"
        id="email-login"
        placeholder="Email"
        class="form-control form-control-lg"
      />
    </div>
    <div class="form-outline form-white mb-4">
      <input
        type="password"
        placeholder="Password"
        id="password-login"
        class="form-control form-control-lg"
      />
    </div>
    <button
      class="btn btn-outline-light bg-success btn-lg px-5 mb-4"
      type="submit"
    >Login</button>
    </form>
    <div class="text-center mb-4">
      <p class="mb-0">Don't have an account?
        <a href="/signup" class="text-50 fw-bold text-center">Sign Up</a></p>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>