/* .icons {
  width: 20px;
  height: 20px;
} */

#logo {
  font-family: 'Leckerli One', cursive;
}

#category-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: red
}

#category-bar a:visited{
  color:black;
  text-decoration: none;
}

#category-bar a:link{
  color:black;
  text-decoration: none;
}

/* #category-bar a:hover{
  background-color: lightgrey;
  border-radius: 1px;
} */

.card {
  border: none !important;
}